@import url('https://fonts.cdnfonts.com/css/sofia-pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sofiaPro;

  }

  .banner-bg {
    background: linear-gradient(216deg, #13AFB6 0%, rgba(217, 217, 217, 0.00) 57.47%);
  }

  .join-cm-btn-bg {
    background: linear-gradient(272deg, #13AFB6 0%, #03659C 100%);
  }

  .status-bg {
    background: linear-gradient(136deg, #13AFB6 0%, #03659C 102.29%);
  }

  .video-bg1 {
    background: linear-gradient(98deg, #505D65 20.43%, #000 100%);
  }

  .what-we-do-bg {
    background: linear-gradient(272deg, #03659C 0%, #13AFB6 95.76%);
  }

  .video-bg2 {
    background: linear-gradient(96deg, #F1F1F2 0%, #DBFDFF 100%);
  }

  .download-btn-bg {
    background: linear-gradient(272deg, #B81A21 0%, #F6484F 100%);
  }

  .subscription-btn-bg {
    background: linear-gradient(272deg, #B81A21 0%, #F6484F 100%);
  }

  .making-difference-bg {
    background: linear-gradient(96deg, #13AFB6 0%, #03659C 100%);
  }

  .square {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #4A90E2;
  }

  .square::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #4A90E2 transparent;
    /* Transparent on the sides, blue at the bottom */
  }
}